<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="/app/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/app/public/css/base.css">
</head>
<body>
<div class="column">
    <div class="column-fun">
        <span class="glyphicon glyphicon-folder-open"></span>
        <span>栏目管理</span>
    </div>
    <ul>
        <li><a href="__CONTROLLER__/columninfo" target="adminmain">管理栏目</a></li>
    </ul>
</div>
</body>
</html>