<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>	
    <link rel="stylesheet" href="/app/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/app/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/app/public/css/index.css">
</head>
<body>
	<div class="system">
		<span class="glyphicon glyphicon-cog"></span>
		<span><a href="" target="adminmain">系统设置</a></span>
	</div>
</body>
</html>